<tr>
	<td><%= user.login %></td>
	<td><%= link_to user.name, user %></td>
	<td><%= link_to user.email, "mailto:#{user.email}" %></td>
	<td>
  		<% if current_user.admin?  && !current_user?(user) %>
  		<div class="dropdown">
		  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Actions <span class="caret"></span></button>
		  <ul class="dropdown-menu">
		  	<li><%= link_to "Delete",user, method:"delete", data: {confirm: "Are you sure?"} %></li>
		    <li><%= link_to "Edit", edit_user_path(user) %></li>
		  </ul>
		</div>
		<% end %>
    </td>
</tr>
