<tr>
	<td><%= link_to array.name, array %></td>
	<td><%= array.serial %></td>
	<td><%= array.model %></td>
	<td><%= array.firmware %></td>
	<td><%= array.space_total %> TB</td>
	<td><%= array.space_used %> TB</td>
	<td><%= array.space_available %> TB</td>
</tr>
