<tr>
	<td><%= link_to array.name, array %></td>
	<td><%= array.data_center.name %></td>
	<td><%= array.serial %></td>
	<td><%= "#{array.family_name} #{array.model}" %></td>
	<td><%= array.firmware %></td>
	<td><%= array.space_total %></td>
	<td><%= array.space_used %></td>
	<td><%= array.space_available %></td>
</tr>
